<section class="flex flex-col items-center justify-center py-16 xl:text-4xl 2xl:text-4xl">
    <h1 class="text-4xl text-white font-bold">Sobre Mi</h2>
    <h2 class=" text-clip text-balance text-center font-light text-white text-2xl py-4 max-sm:text-1xl">¡Hola! Mi nombre es DiegoDev y tengo 15 años. <br> Soy <strong class=" text-yellow-300 font-semibold" >Programador de videojuegos y web </strong> con experiencia en <br> diversas  tecnologías de programación. </h2>
    <h2 class=" text-white text-clip text-center text-balance font-light text-2xl max-sm:text-1xl">Comencé a programar a los 14 años y desde entonces <br> he estado trabajando en una variedad de <br> <strong class="text-yellow-300 font-semibold">proyectos personales y profesionales</strong> Me encanta aprender nuevas <br> tecnologías y ponerlas en práctica.</h2>
    </section>