<div class="flex py-[100px] px-5 justify-center "> 
    <div class=" text-center ">
        <h2 class="text-8xl font-bold mb-4 text-white max-sm:text-6xl">DiegoDev</h2>
    <p class=" text-gray-500 font-bold text">Full-Stack Developer</p>
    </div>   
    
</div> 