<section class="flex flex-col items-center justify-center py-16 xl:text-4xl 2xl:text-4xl">
    <h1 class="text-white mr-11 text-3xl md:text-4xl lg:text-5xl font-extrabold flex flex-row gap-x-4 lg:pb-10">Sobre Mi</h2>
    <h2 class=" text-white text-xl lg:text-2xl text-wrap max-w-[500px] py-4">¡Hola! Mi nombre es DiegoDev y tengo 15 años. <br> Soy <strong class=" text-yellow-300 font-semibold" >Programador de videojuegos y web </strong><br> con experiencia en  diversas  tecnologías de programación. </h2>
    <h2 class=" text-white text-xl lg:text-2xl text-wrap max-w-[500px]">Comencé a programar a los 14 años y desde entonces <br> he estado trabajando en una variedad de <br> <strong class="bg-gradient-to to-gray-800 text-white bg-clip-text font-semibold">proyectos personales y profesionales</strong> Me encanta aprender nuevas <br> tecnologías y ponerlas en práctica.</h2>
    </section>