
<div class="flex justify-center gap-8 my-16">

<div class="max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-300/20 dark:border-gray-700">
    <a href="https://github.com/CodeDiego15/TerrorGame" target="_blank">
        <img class="rounded-t-lg" src="https://pbs.twimg.com/media/GIhVkstXsAAecyt?format=jpg&name=large" alt="" />
    </a>
    <div class="p-5">
        <a href="">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">NigthSide - 2024</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Es un juego de terror en desarrollo, Motor Unity y Lenguaje de programacion C#</p>
        
       </div>
    </div>
</div>


</div>

