---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gardient from '../components/Gardient.astro';
import About from '../components/About.astro';
import Conocimientos from '../components/Conocimientos.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';

---

<Layout title="DiegoDev - Full-Stack Developer">
	<main class="animate-fade-in-up animate-delay-500">
		<Header />
		<code class="text-gray-500 text-sm animation-fade-in animation-delay-100">v1.0</code>		
		<About />
		<div class="Gardient"></div>
		<Gardient />
		<AboutMe />
		<Projects />
		
		<Conocimientos />	
	</main>
	
</Layout>

<style>
	.Gardient {
	position: relative;
    width: 70%;
    height: 0%;
    left: 15%;
    top: 50%;
    box-shadow: rgba(126, 127, 128, 0.1) 0px 0px 150px 100px;
    border-radius: 100px;
	}
</style>
