---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Login DiegoDev">

    <Header />

    <div class="Gardient"></div>
</Layout>

<style>
    .Gardient {
	position: relative;
    position: fixed;
    width: 70%;
    height: 0%;
    left: 15%;
    top: 50%;
    box-shadow: rgba(126, 127, 128, 0.1) 0px 0px 150px 100px;
    border-radius: 100px;
	}
</style>