---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Register DiegoDev">
    <Header />
    <div class="Gardient"></div>


<Layout title="Register">
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>
  <form action="/api/auth/Signin" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
  </form>
</Layout>
</Layout>



<style>
    .Gardient {
	position: relative;
    width: 70%;
    height: 0%;
    left: 15%;
    top: 50%;
    box-shadow: rgba(126, 127, 128, 0.1) 0px 0px 150px 100px;
    border-radius: 100px;
	}
</style>